.mainsection {
  width: 100%;
}

.mainsection > :nth-child(1) {
  margin-bottom: 2em;
}

.vertical-timeline-element-subtitle {
  margin-top: 0.5em;
  font-size: 0.9em;
}

.vertical-timeline-element-title {
  font-size: 1.1em;
  color: var(--clr-primary);
}
.timeline-image {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Make it circular */
  margin-bottom: 0px; /* Add some space below the image */
  margin-top: 15px;
}
.timeline-image2 {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Maintain aspect ratio */
  border-radius: 50%; /* Make it circular */
  margin-bottom: 0px; /* Add some space below the image */
  margin-top: 15px;
}
.timeline-image3 {
  width: 150px; /* Adjust the width as needed */
  height: 140px; /* Maintain aspect ratio */
  border-radius: 50%; /* Make it circular */
  margin-bottom: 0px; /* Add some space below the image */
  margin-top: 15px;
}



