.header {
  height: 9em;
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}

img{
  width: 40px;
  margin-right: 4px;
}
/* Trong file CSS bên ngoài */
.avyTech {
  color: #A8DF8E; /* Đổi màu chữ thành #AFD198 */
}
